h2 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.coming-soon {
  display: block;
  margin: 30px auto;
  padding: 10px;
  border: 1px solid #962071;
  border-radius: 5px;
  background: linear-gradient(
    106.4deg,
    rgb(255, 104, 192) 11.1%,
    rgb(104, 84, 249) 81.3%
  );
  max-width: 500px;
}

.countdown {
  color: white;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.day,
.hour,
.minute,
.second {
  color: white;
  font-size: 3rem;
}
