h2 {
  font-size: 24px;
  font-weight: bold;
}

.coming-soon {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.countdown {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.day,
.hour,
.minute,
.second {
  font-size: 3rem;
}
